{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %} Products {% endblock %}

{% block css_code %} 
<style>
div.scroll {
  height: 500px;
  overflow: scroll;
}
</style>
{% endblock %}

{% block content %}
<form method="get">
  <div class="bg-light mb-3">
    <h3 class="mb-3">Filter products</h3>
    <div class="row">
      {% for field in filter.form %}
      <div class="form-group col-sm-4 col-md-3">
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
      </div>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary mb-3 mt-3">
      <i class="bi bi-search"></i> Filter
    </button>
  </div>
</form>

<div class="bg-light mb-3 scroll">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Price</th>
        <th>Height</th>
        <th>Width</th>
      </tr>
    </thead>
    <tbody>
      {% for product in filter.qs %}
      <tr>
        <td>{{ product.title }}</td>
        <td>{{ product.product_type }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.height }}</td>
        <td>{{ product.width }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No data found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}



